<div class="container">
	<h1>Current Pot</h1>
	<h1>$567856785678!</h1>
	<h2>Next Drawing:</h2>
	<h3>1 hour</h3>
</div>


<div class="buy_ticket">
	<%= link_to "Buy Ticket", new_ticket_path %>
		
</div>
